{% extends 'base.html' %}

{% block content %}
    <h1>반짝</h1><a href="{% url 'matching:my_pet_list' %}">나의 동물들보기</a>
    등록된 모든 반려동물들 보는 페이지

    <form action="" method="get" >
        {{ filter.form.as_p }}
        <input type="submit" name="search" value="search"/>
    </form>

    <form method="get" action="">
            내 주변 <input name="search" placeholder="" type="number" >km 까지<br /> 
            <span> <button type="submit"> search </button>
    </form>
    {% if flag %}
        {% if dis_filter %}
        <br />거리필터링중<br />
        {% for pet in dis_filter %}
        <br /> 
            {{ pet.name }} 
            {{ pet.get_gender_display }}
            {{ pet.lat }}
            {{ pet.lon }}
            {{ pet.address }}
            {{ pet.distance }}
    
        {% endfor %}
        {% else %}
        <br />no pets nearby {{ flag }} km
        {% endif %}
    {% else %}
    <br /> 
    {% for pet in filter.qs %}
    <br /> 
        {{ pet.name }} 
        {{ pet.address}}
        {{ pet.get_gender_display }}
        {{ pet.lat }}
        {{ pet.lon }}
        {{ pet.address }}

    {% endfor %}
    {% endif %}
{% endblock %}

        