{% extends 'base.html' %}
{% load staticfiles %}

{% block header %}
    <nav class="navbar navbar-expand-lg  main-nav " id="navbar">
        <div class="container">
            <a class="navbar-brand">
                <img src="{% static '/images/our_mark1.png' %}" alt="" class="img-fluid">
            </a>

            <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarsExample09" aria-controls="navbarsExample09" aria-expanded="false" aria-label="Toggle navigation">
                <span class="ti-align-justify"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarsExample09">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item  active"><a class="nav-link" href="{% url 'matching:home' %}">Home</a></li>
                    <li class="nav-item"><a class="nav-link" href="{% url 'user_messages:List' %}">메시지함</a></li>
                    <li class="nav-item"><a class="nav-link" href="{% url 'matching:my_pet_list' %}">내 동물들</a></li>
                    <li class="nav-item"><a class="nav-link" href="{% url 'account:home' %}">로그아웃</a></li>

                </ul>
            </div>
        </div>
    </nav>
{% endblock %}

{% block content %}
    <div class="text-center mb-5 contact-title">
        <h2>My Pet List</h2>

        {% for object in object_list %}

            <section class="section blog-post">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-6 col-md-6" style="text-align: center">
                            <div class="post mb-5" style="border:2px solid red; padding:15px;">
                                <a class="image-content">
                                    <img src="{{ object.picture.url }}" alt="" class="img-fluid" style="height: 300px;">
                                </a>

                                <div class="post-content">
                                    <span class="date text-uppercase text-sm">Pet name : {{ object.name }}</span>

                                    <a href="{% url 'matching:my_pet_detail' pk=object.id %}"><h4>{{ object.name }} 프로필 보기</h4></a>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </section>
        {% empty %}
            <section class="section banner-3">
                <h>내 반려동물이 없어요. 등록해주세요</h>
            </section>
        {% endfor %}

        <section class="section banner-3">
            <button class="btn btn-main" onclick="window.location = '{% url 'matching:pet_create' %}';" style="margin-bottom: 100px; margin-right: 100px; float:right;">애완동물 등록하기</button>
        </section>
    </div>



{% endblock %}