{% extends 'base.html' %}
{% load static %}

<html>
{% block header %}
  <nav class="navbar navbar-expand-lg  main-nav " id="navbar">
    <div class="container">
      <a class="navbar-brand">
        <img src="{% static '/images/our_mark1.png' %}" alt="" class="img-fluid">
      </a>

      <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarsExample09" aria-controls="navbarsExample09" aria-expanded="false" aria-label="Toggle navigation">
        <span class="ti-align-justify"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarsExample09">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item  active"><a class="nav-link" href="{% url 'matching:home' %}">Home</a></li>
          <li class="nav-item"><a class="nav-link" href="{% url 'user_messages:List' %}">메시지함</a></li>
          <li class="nav-item"><a class="nav-link" href="{% url 'matching:my_pet_list' %}">내 동물들</a></li>
          <li class="nav-item"><a class="nav-link" href="{% url 'account:home' %}">로그아웃</a></li>

        </ul>
      </div>
    </div>
  </nav>
{% endblock %}


{% block content %}

<div class="container">
  <form action="" method="get" >
    {{ filter.form }}
    <input type="submit" name="search" value="search"/>
  </form>
  <form method="get" action="">
    내 주변 <input name="distance_search" placeholder="" type="number" > km 까지
    <span> <button type="submit"> search </button>
  </form>
</div>
  <div class="container">	

		<div class="row shuffle-wrapper portfolio-gallery">
	      


	    

  {% if flag %}
    {% if dis_filter %}
      <br />pets nearby {{flag}}  km<br />
      {% for pet in dis_filter %}
        <br />
        {% if pet.owner == owner %}
        {% else %}
        <div class="col-lg-4 col-6 mb-4 shuffle-item" data-groups="[&quot;design&quot;,&quot;photo&quot;]">
	        <div class="position-relative inner-box">
	            <div class="image position-relative ">
	               <img src="{{ pet.picture.url }}" alt="portfolio-image" class="img-fluid w-100 d-block">
	                <div class="overlay-box">
	                  <div class="overlay-inner">
	                    <a class="overlay-content" href="{% url 'matching:pet_detail' pk=pet.id %}">
	                       <h5 class="mb-0">Agency web</h5>
	                      	<p>Design</p>
	                    </a>
	                  </div>
	                </div> 
	            </div>
	        </div>
	      </div>
                  <img src="{{ pet.picture.url }}" alt="portfolio-image" class="img-fluid w-100 d-block" >
                  {{ pet.name }}
                  {{ pet.address}}
                  {{ pet.get_gender_display }}
                  {{ pet.lat }}
                  {{ pet.lon }}
                  {{ pet.address }}
                
        {% endif %}
      {% endfor %}
    {% else %}
      <br />no pets nearby {{ flag }} km
    {% endif %}
  {% else %}
    <br />
    {% for pet in filter.qs %}
      <br />
      {% if pet.owner == owner %}
      {% else %}
      <div class="col-lg-4 col-6 mb-4 shuffle-item" data-groups="[&quot;design&quot;,&quot;photo&quot;]">
        <div class="position-relative inner-box">
            <div class="image position-relative ">
               <img src="{{ pet.picture.url }}" alt="portfolio-image" class="img-fluid w-100 d-block " style ="width:100%">
                <div class="overlay-box">
                  <div class="overlay-inner">
                    <a class="overlay-content" href="{% url 'matching:pet_detail' pk=pet.id %}">
                       <h5 class="mb-0">Agency web</h5>
                        <p>Design</p>
                    </a>
                  </div>
                </div> 
            </div>
        </div>
      </div>
                
                {{ pet.name }}
                {{ pet.address}}
                {{ pet.get_gender_display }}
                {{ pet.lat }}
                {{ pet.lon }}
                {{ pet.address }}
              
      {% endif %}
    {% endfor %}
  {% endif %}


</div>
</div>

{% endblock %}

</html>
