{% extends 'base.html' %}

<title>반짝 홈페이</title>

{% load staticfiles %}
<html>

{% block header %}
    <nav class="navbar navbar-expand-lg  main-nav " id="navbar">
        <div class="container">
            <a class="navbar-brand" href="{% static '/index.html' %}">
                <img src="{% static '/images/logo.png' %}" alt="" class="img-fluid">
            </a>

            <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarsExample09" aria-controls="navbarsExample09" aria-expanded="false" aria-label="Toggle navigation">
                <span class="ti-align-justify"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarsExample09">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item  active"><a class="nav-link" href="{% url 'account:home' %}">Home</a></li>

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">About</a>
                        <ul class="dropdown-menu" aria-labelledby="dropdown01">
                            <li><a class="dropdown-item" href="{% static '/about.html' %}">About Me</a></li>
                            <li><a class="dropdown-item" href="{% static '/about-us.html' %}">About Us</a></li>
                        </ul>
                    </li>

                    <li class="nav-item"><a class="nav-link" href="{% url 'account:sign_in' %}">로그인</a></li>
                    <li class="nav-item"><a class="nav-link" href="{% url 'account:before_sign_up' %}">회원가입</a></li>
                </ul>
            </div>
        </div>
    </nav>
{% endblock %}


{% block banner %}
<!-- Banner Start -->
<section class="section banner">
	<div class="container">
		<div class="row">
			<div class="col-lg-10">
				 <h2 class="cd-headline clip is-full-width mb-4 ">
				 	반짝 <br>
                    <span class="cd-words-wrapper text-color">
                        <b class="is-visible">애완다</b>
                        <b>친구찾기</b>
                        <b>반짝</b>
                    </span>
                </h2>
                <p>반짝을 통해서 반려동물 친구를 찾아주세요!</p>
			</div>
		</div>
	</div>
</section>
<!-- Banner End -->
{% endblock %}

</html>