{% load static %}
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.0/css/bootstrap.min.css" integrity="sha384-SI27wrMjH3ZZ89r4o+fGIJtnzkAnFs3E4qz9DIYioCQ5l9Rd/7UAa8DHcaL8jkWt" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.0/js/bootstrap.min.js" integrity="sha384-3qaqj0lc6sV/qpzrc1N5DC6i1VRn/HyX4qdPaiEFbn54VjQBEU341pvjz7Dv3n6P" crossorigin="anonymous"></script>


<html>

<head>
    <meta charset="utf-8">

    <!-- mobile responsive meta -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <!-- ** Plugins Needed for the Project ** -->
    <!-- Bootstrap -->
    <link rel="stylesheet" href="{% static '/plugins/bootstrap/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static '/plugins/themify/css/themify-icons.css' %}">
    <link rel="stylesheet" href="{% static '/plugins/counto/animate.css' %}">
    <link rel="stylesheet" href="{% static '/plugins/aos/aos.css' %}">
    <link rel="stylesheet" href="{% static '/plugins/owl-carousel/owl.carousel.min.css' %}">
    <link rel="stylesheet" href="{% static '/plugins/owl-carousel/owl.theme.default.min.css' %}">
    <link rel="stylesheet" href="{% static '/plugins/magnific-popup/magnific-popup.css' %}">
    <link rel="stylesheet" href="{% static '/plugins/animated-text/animated-text.css' %}">

    <!-- Main Stylesheet -->
    <link href="{% static '/css/style.css'%}" rel="stylesheet">

</head>

<body>

<!-- Navigation Start -->
<!-- Header Start -->
{% block header %}
{% endblock %}

<!-- Header Close -->

{% block banner %}
{% endblock %}

{% block content %}
{% endblock %}

{% block footer %}
    <!-- Footer start -->
    <section class="footer">
        <div class="container">
            <div class="row ">
                <div class="col-lg-6">
                    <p class="mb-0">Copyrights © 2019. Designed & Developed by <a href="" class="text-white">산업체해즈온프로젝트 6팀</a></p>
                </div>
                <div class="col-lg-6">
                    <div class="widget footer-widget text-lg-right mt-5 mt-lg-0">
                        <ul class="list-inline mb-0">
                            <li class="list-inline-item"><a href="https://github.com/Handson-project-Team06/Pet_Matching" target="_blank"><i class="ti-github mr-3"></i></a></li>
                            <li class="list-inline-item"><a href="https://trello.com/b/uay60Rog/19%EB%85%84-hands-on6%ED%8C%80" target="_blank"><i class="ti-dribbble mr-3"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Footer End -->
{% endblock %}
<!-- jQuery -->
<script src="{% static '/plugins/jQuery/jquery.min.js' %}"></script>
<!-- Bootstrap JS -->
<script src="{% static '/plugins/bootstrap/bootstrap.min.js' %}"></script>
<script src="{% static '/plugins/aos/aos.js' %}"></script>
<script src="{% static '/plugins/owl-carousel/owl.carousel.min.js' %}"></script>
<script src="{% static '/plugins/shuffle/shuffle.min.js' %}"></script>
<script src="{% static '/plugins/magnific-popup/jquery.magnific-popup.min.js' %}"></script>
<script src="{% static '/plugins/animated-text/animated-text.js' %}"></script>
<script src="{% static '/plugins/counto/apear.js' %}"></script>
<script src="{% static '/plugins/counto/counTo.js' %}"></script>

<!-- Google Map -->
<script src="{% static '/plugins/google-map/map.js' %}"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAkeLMlsiwzp6b3Gnaxd86lvakimwGA6UA&callback=initMap"></script>
<!-- Main Script -->
<script src="{% static '/js/script.js' %}"></script>


<body>



<!-- Jquery, Bootstrap JS -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
        integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
        crossorigin="anonymous"></script>
{% block extra_script %}
{% endblock extra_script %}
</body>
</html>